:root {
  font-size: 62.5%;
  --blue-color: #373d60;
  --green-color: #4ca064;
  --light-grey-color: #c1c1c1;
  --grey-color: #dedede;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
